body {
	margin: 0px;
}

.ranking {
	position: fixed;
	top: 10px;
	right: 10px;
	background: rgba(255,255,255,0.5);
	max-width: 30%;
}
.ranking td {
	-webkit-animation: appear 1s;
}

.commandHelp {
	position: fixed;
	top: 10px;
	left: 10px;
	background: rgba(255,255,255,0.5);
	max-width: 30%;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 4s;
}
.commandHelp.show {
	max-height: 50%;
}
.commandHelp p {
	margin: 1em;
}

#login {
	border-radius: 10%;
	position: fixed;
	top: 10%;
	width: 50%;
	left: 25%;
	padding: 10px;
	background: rgba(240,255,240, 0.8);
	align-content: center;
}

#flattylog::-webkit-scrollbar {
    display: none;
}
#flattylog {
	position: fixed;
	bottom: 10px;
	left: 10px;
	max-height: 20%;
	max-width: 30%;
	overflow-y: scroll;
	color: white;
}
#flattylog * {
	margin: 0.5em;
	-webkit-animation: appear 2s;
}

@-webkit-keyframes appear {
	from {
		height: 0em;
		opacity: 0;
	}
	to {
		height: 1em;
		opacity: 1;
	}
}
