body {
	margin: 0px;
}

.ranking {
	position: fixed;
	top: 10px;
	right: 10px;
	background: rgba(255,255,255,0.5);
	max-width: 30%;
}

.commandHelp {
	position: fixed;
	bottom: 10px;
	left: 10px;
	background: rgba(255,255,255,0.5);
	max-width: 30%;
}
.commandHelp p {
	margin: 1em;
}

#login {
	border-radius: 10%;
	position: fixed;
	top: 10%;
	width: 50%;
	left: 25%;
	padding: 10px;
	background: rgba(240,255,240, 0.8);
	align-content: center;
}